@import "node_modules/bootstrap/scss/bootstrap";
/* RESET */
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    p{
        font-size: 1.2rem;
        color: white;
        margin: 0;
    }
    h2{
        font-size: 1.5rem;
        font-weight: bold;
        color: #fea729;
    }
    h3{
        font-weight: bold;
        font-size: 1.5rem;
        color: #fea729;
        margin: 0;
    }
}
.title-content{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    span{
        width: 100%;
        &:before{
            content: "";
            width: 90%;
            height: 5px;
            background-color: black;
            margin: 0 auto;
            position: absolute;
            margin-left: -45%;
        }
    }
}
.building-body{
    border: 2px solid #fea729;
    background-color: black;
    padding: 10px;
    margin: 20px 0;
    .building--head{
        width: 100%;
        text-align: center;
    }
    .building--image{
        img{
            width: 100%;
        }
    }
    .building--footer{
        text-align: center;
    }
}
.form{
    border: 2px solid #fea729;
    padding: 30px;
    margin-bottom: 50px;
    background-color: #f8f8f8;
    .form-head{
        margin-bottom: 50px;
        h3{
            font-size: 2rem;
            font-weight: normal;
            color: #656565;
            margin: 5px 0 10px;
        }
        p{
            font-size: 1.2rem;
            color: #656565;
        }
    }
    .info{
        label{
            width: 100%;
        }
        input{
            width: 100%;
            font-size: 1.2rem;
            padding: 10px 20px;
            margin-bottom: 30px;
            border: 3px solid  rgba(#ddd1c5, 1);
            border-radius: 3px;
            background-color: #f8f8f8;
        }
        select{
            width: 100%;
            font-size: 1.2rem;
            padding: 10px 20px;
            margin-bottom: 30px;
            border: 3px solid  rgba(#ddd1c5, 1);
            border-radius: 3px;
            color: #656565;
            background-color: #f8f8f8;
            option{
                font-size: 1rem;
                border: 3px solid  rgba(#ddd1c5, 1);
                border-radius: 3px;
                color: #656565;
                background-color: #f8f8f8;
            }
        }
        textarea{
            width: 100%;
            font-size: 1.2rem;
            padding: 10px 20px;
            margin-bottom: 30px;
            border: 3px solid  rgba(#ddd1c5, 1);
            border-radius: 3px;
            color: #656565;
            background-color: #f8f8f8;
        }
        .send{
            button{
                font-size: 1rem;
                font-weight: bold;
                text-transform: uppercase;
                color: white;
                background-color: #343132;
                padding: 20px 30px;
                border: none;
                border-radius: 3px;
            }
        }
    }
}
.regulation{
    padding: 30px;
    margin-bottom: 50px;
    border: 2px solid #fea729;
    height: 800px;
    background-color: #f8f8f8;
    overflow-y: scroll;
        h2{
            font-size: 2.2rem;
            color: #656565;
            text-align: center;
            margin-bottom: 50px;
        }
        P{
            overflow-y: scroll;
            color: #656565;
            
    overflow-y: hidden;
        }
}